
body{
  background-color:rgb(83,123,132);
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-color: cyan;
}
.form{
  text-align: center;
}
input{
  font-size:40px;
}

img{
  height:100%;
  width:100%;
}
img.q2{
  height:50%;
  width:50%;
}


a{
  text-decoration: underline;
}
.hint{
  font-size: 30px;
}
.box{
  position:relative;
  left:10%;
}
