body{
    position: relative;
}

#main{
    /* background:#000 url("../images/bg.jpg") no-repeat; */
    background-position: 50% 0%;
    background-size: contain;
    height:100vh;
    width:100vw;
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
}

#menu{
    position: absolute;
    right:0;
    width:12vw;
    height:10vw;
    top:0;
    background:url(../images/goMap.png) right top no-repeat;
    background-size: contain;
    border:none;
    outline:none;
    -moz-transition-property: all;
    -moz-transition-duration:0.5s;
    -moz-transition-timing-function:ease;
    -webkit-transition: all 0.5s ease 0 ;
}


#pop{
    position: absolute;
    top:10vh;
    left:15vw;
    width:70vw;
    height:45vw;
    background-color:#222;
}
#bgmov{
    background-color:black;
    position: absolute;
    top:0vh;
    left:0vw;
    width:100vw;
    height:100vh;
    z-index:-5;
}

#map{
    position: absolute;
    top:0;
    right:0;
    height:100vh;
    width:12vw;
    background-color:#000;
    -moz-transition-property: width, height,margin-top;
    -moz-transition-duration:0.5s;
    -moz-transition-timing-function:ease;
    -webkit-transition: all 0.5s ease 0 ;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}