@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans JP', sans-serif;
    color: white;
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

body {
    background-color: #3E3A39;
}


