#top{
    margin-top: 3%;
    display: inline-flex;
}

h1{
    font-size: 520%; 
    width: 70%;
    padding-top: 5%;
    padding-left: 10%;
}

#logo{
    width: 30%;
}

ul{
    margin-top: 10%;
    padding: 0 5%;
}

.person{
    margin-bottom: 10%;
    list-style: none;
}

.toggle-contents{
    width: 100%;
    display: inline-flex;
}

.icon{
    width: 23%;
}

.contact{
    width: 77%;
    padding-left: 7%;
}
.name{
    padding-top: 2.5%;
    font-size: 450%;
}

.mail{
    font-size: 250%;
}

.toggle{
    display: none;
}

.toggle-inner{
    display: none;
}

.toggle:checked ~ .toggle-inner{
    display: block;
}

.line{
    width: 100%;
}

#logout{
    margin-top: 30%;
    margin-bottom: 30%;
    text-align: center;
    font-size: 250%;
}

#norecord{
    margin-top: 15%;
    font-size: 350%;
    text-align: center;
}