h1 {
    margin-top: 20%;
    font-size: 600%;
    text-align: center;
}

ul{
    width: 80%;
    margin: 10% auto;
}

#logo{
    width: 100%;
}

.loginitems{
    display: inline-flex;
    width: 100%;
    margin-bottom: 5%;
    list-style: none;
}

.labels{
    width : 40%;
    margin-right: 5%;
    display: block;
    font-size: 250%;
}

.inputbox{
    width: 55%;
    display: block;
    font-size: 250%;
    border: 0.1em solid #ffffff;
    border-radius: 0.2em;
}

#mail::placeholder, #password::placeholder{
    padding-left: 3%;
}

#loginbutton{
    font-size: 200%;
    font-weight: 700;
    color: #3E3A39;
    height: 30%;
    width: 20%;
    margin: 5% 40% 0 40%;
    border: 0.1em solid #ffffff;
    background-color: #ffffff;
    border-radius: 0.2em;
}

#hint{
    padding-left: 27%;
    font-size: x-large;
}
